
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        header {
            background-color: #333;
            color: white;
            padding: 1em;
            text-align: center;
        }
        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        /* Estilo personalizado para el carrusel */
        #productCarousel {
            max-width: 600px;
            margin: 20px auto;
        }
        .carousel-item {
            position: relative;
        }

        .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
            color: #fff;
            padding: 10px;
        }
    